services:
  # 1. El Servicio Web (Tu app Django)
  - type: web
    name: notegym
    # Entorno de ejecución (asegúrate de usar tu versión de Python)
    env: python 
    pythonVersion: "3.13.2" # Cambia esto por tu versión
    plan: free # 'starter' para evitar que se "duerma"
    
    # Comandos de construcción y arranque
    buildCommand: "./build.sh"
    startCommand: "gunicorn config.wsgi" # Apunta a tu archivo wsgi.py

    # Variables de entorno
    envVars:
      - key: SECRET_KEY
        generateValue: true # Render creará una clave segura
      - key: DEBUG
        value: false
      - key: ALLOWED_HOSTS
        # El .onrender.com se añade automáticamente, 
        # pero aquí puedes poner tu dominio personalizado si lo tienes
        value: "notegym.onrender.com" 
      - key: DATABASE_URL
        fromDatabase:
          name: notegym-db # El nombre de la base de datos de abajo
          property: connectionString
      - key: PYTHON_VERSION
        value: "3.13.2" # Asegúrate que coincida

  # 2. La Base de Datos Postgres
  - type: psql
    name: notegym-db
    databaseName: notegym # El nombre de la BD interna
    plan: free # 'starter' para producción real
    # Opcional: define la versión de Postgres
    # postgresqlVersion: 14