{% extends "base.html" %}
{% load static %}
{% load django_vite %} {% block title %}Catálogo de Ejercicios - GymNotebook{% endblock %}

{% block content %}
<div class="mb-6 flex flex-col sm:flex-row justify-between items-center gap-4">
    <h1 class="text-3xl font-extrabold text-gray-900 tracking-tight">
        Catálogo de Ejercicios
    </h1>
    <a href="{% url 'ejercicio_crear' %}" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-primary hover:bg-indigo-700 w-full sm:w-auto">
        <svg class="w-5 h-5 mr-2 -ml-1" fill="none" stroke="currentColor" viewBox="0 0 24 24"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 6v6m0 0v6m0-6h6m-6 0H6"></path></svg>
        Añadir Nuevo Ejercicio
    </a>
</div>

<div id="react-ejercicio-app">
    <div class="text-center py-10 px-6 bg-[#252959] shadow-xl rounded-xl">
        <p class="text-lg font-medium text-white">Cargando ejercicios...</p>
    </div>
</div>
{% endblock content %}


{% block extra_js %}

    <script>
        window.CSRF_TOKEN = "{{ csrf_token }}";
    </script>

    {% vite_react_refresh %}
    
    {% vite_asset 'frontend/main.jsx' %}

    {% endblock extra_js %}